*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body,html
{
    width: 100%;
}
.list
{
    /* border: 2px solid red; */
    width: 80%;
    margin: 0px auto;
    margin-top: 300px;
}
.list ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.list ul li
{
    width: 25%;
    padding: 24px 22px;
    font-size: 20px;
    /* font-weight: 600; */
}