*
{
    background-color: lightsalmon;
}

div{
    height: 100px;
    width: 100px;
}

div{
    background-color: slateblue;
}
/* 
p{
    background-color: yellow;
}

div,p 
{
    background-color: red;
} */


#idSelectodiv{
    background-color: seagreen;
}
.cSelectordiv{
    background-color: blue;
}

input[type]{
    background-color: violet;
}


input[type="email"]{
    background-color: orangered;
}

/* input{
    background-color: black;
} */

.classSelector{
    background-color: red;
}
div.classSelector{
    background-color: aqua;
}


input[type="text"]{
    background-color: cadetblue;
}

input[tyoe]{
    background-color: black;
}

.att{
    background-color: tomato;
}


/* 1. Id Selector */
/* 2. Attribute type value */
/* 3. Attribute type */
/* 4. Class Selector*/
/* 5. Generic Class Selector*/ 
/* 6 & 7. Depends upon the line => element & group*/
/* 8. Universal Selector */

